@import "tailwindcss";
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  background: #ffbd2f;
}
.nav-scroll {
  /* transform: translateY(50%); */
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: aliceblue;
}
.bg-primary {
  background-color: #ffbd2f;
}
.bg-primary-400 {
  background-color: #ac8021;
}
